# Exercise 4.6

# Data Imports

In [1]:
# import data
import os
import numpy as np
import pandas as pd

In [2]:
# Set path
path = r'C:\Users\asus\Instacart Basket Analysis 01-2024'

In [3]:
# Import the existing data 

df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = None)
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = None)

In [4]:
df_ords.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'order_id', 'user_id', 'eval_set',
       'order_number', 'order_dow', 'order_hour_of_day',
       'days_since_prior_order'],
      dtype='object')

In [5]:
df_ords.drop(columns = {'eval_set', 'Unnamed: 0'}, inplace = True)

In [6]:
df_ords.columns

Index(['Unnamed: 0.1', 'order_id', 'user_id', 'order_number', 'order_dow',
       'order_hour_of_day', 'days_since_prior_order'],
      dtype='object')

In [7]:
df_ords.rename(columns = {'order_dow':'orders_day_of_week', 'order_hour_of_day':'order_time_of_day'}, inplace = True)

In [8]:
df_ords.columns

Index(['Unnamed: 0.1', 'order_id', 'user_id', 'order_number',
       'orders_day_of_week', 'order_time_of_day', 'days_since_prior_order'],
      dtype='object')

In [9]:
df_ords_prior.columns

Index(['order_id', 'product_id', 'add_to_cart_order', 'reordered'], dtype='object')

In [10]:
df_ords.info

<bound method DataFrame.info of          Unnamed: 0.1  order_id  user_id  order_number  orders_day_of_week  \
0                   0   2539329        1             1                   2
1                   1   2398795        1             2                   3
2                   2    473747        1             3                   3
3                   3   2254736        1             4                   4
4                   4    431534        1             5                   4
...               ...       ...      ...           ...                 ...
3421078       3421078   2266710   206209            10                   5
3421079       3421079   1854736   206209            11                   4
3421080       3421080    626363   206209            12                   1
3421081       3421081   2977660   206209            13                   1
3421082       3421082    272231   206209            14                   6

         order_time_of_day  days_since_prior_order
0                        8                     NaN
1                        7                    15.0
2                       12                    21.0
3                        7                    29.0
4                       15                    28.0
...                    ...                     ...
3421078                 18                    29.0
3421079                 10                    30.0
3421080                 12                    18.0
3421081                 12                     7.0
3421082                 14                    30.0

[3421083 rows x 7 columns]>

In [11]:
df_ords.drop(columns = {'Unnamed: 0.1'}, inplace = True)

In [12]:
df_ords.columns

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_time_of_day', 'days_since_prior_order'],
      dtype='object')

In [13]:
df_ords.info

<bound method DataFrame.info of          order_id  user_id  order_number  orders_day_of_week  \
0         2539329        1             1                   2
1         2398795        1             2                   3
2          473747        1             3                   3
3         2254736        1             4                   4
4          431534        1             5                   4
...           ...      ...           ...                 ...
3421078   2266710   206209            10                   5
3421079   1854736   206209            11                   4
3421080    626363   206209            12                   1
3421081   2977660   206209            13                   1
3421082    272231   206209            14                   6

         order_time_of_day  days_since_prior_order
0                        8                     NaN
1                        7                    15.0
2                       12                    21.0
3                        7                    29.0
4                       15                    28.0
...                    ...                     ...
3421078                 18                    29.0
3421079                 10                    30.0
3421080                 12                    18.0
3421081                 12                     7.0
3421082                 14                    30.0

[3421083 rows x 6 columns]>

In [14]:
df_ords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 6 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   order_number            int64
 3   orders_day_of_week      int64
 4   order_time_of_day       int64
 5   days_since_prior_order  float64
dtypes: float64(1), int64(5)
memory usage: 156.6 MB

In [16]:
# Change types for df_ords data set

df_ords['order_id']=df_ords['order_id'].astype('int32')
df_ords['user_id'] = df_ords['user_id'].astype('int32')
df_ords['order_number']=df_ords['order_number'].astype('int8')
df_ords['orders_day_of_week']=df_ords['orders_day_of_week'].astype('int8')
df_ords['order_time_of_day']=df_ords['order_time_of_day'].astype('int8')
df_ords['days_since_prior_order']=df_ords['days_since_prior_order'].astype('float16')

In [18]:
# Check output to see memory usage

df_ords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 6 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   user_id                 int32
 2   order_number            int8
 3   orders_day_of_week      int8
 4   order_time_of_day       int8
 5   days_since_prior_order  float16
dtypes: float16(1), int32(2), int8(3)
memory usage: 42.4 MB

In [19]:
df_ords_prior.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int64
 1   product_id         int64
 2   add_to_cart_order  int64
 3   reordered          int64
dtypes: int64(4)
memory usage: 989.8 MB

In [20]:
# Change types for df_ords_prior data set 

df_ords_prior['product_id'] =df_ords_prior['product_id'].astype('int32')
df_ords_prior['reordered']=df_ords_prior['reordered'].astype('int8')
df_ords_prior['add_to_cart_order']=df_ords_prior['add_to_cart_order'].astype('int32')
df_ords_prior['order_id']=df_ords_prior['order_id'].astype('int32')

In [21]:
df_ords_prior.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int32
 1   product_id         int32
 2   add_to_cart_order  int32
 3   reordered          int8
dtypes: int32(3), int8(1)
memory usage: 402.1 MB

In [22]:
# checking output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [23]:
# checking output
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [24]:
df_ords_prior.shape

(32434489, 4)

In [25]:
df_ords.shape

(3421083, 6)

In [26]:
# Merging of both dataframes
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [27]:
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [28]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [29]:
# Export data to csv

df_merged_large.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.csv'))

# Export data to pkl

df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

In [30]:
# Export data to pkl
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

In [31]:
df_merged_large.shape

(32434489, 10)